*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#particles-js
{
    height: 99.6vh;
    background-color: gray;
    position: relative;
}
.shortcut-btn
{
    position: absolute;
    top: 2%;
    left: 2%;
    cursor: pointer;
    border: 0px solid rgb(100, 100, 39);
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.shortcut-btn:hover
{
    color: bisque;
    background-color: brown;
}
.form
{
    position: absolute;
    width: 100%;
}
.form ul li button
{
    cursor: pointer;
    margin-top: 20px;
    padding: 13px;
    border-radius: 10px;
    border: 1px rgb(110, 106, 114) solid;
    background-color: rgb(252, 252, 252);
}
.form ul li button:hover
{
    background-color: rgb(190, 190, 190);
    color: white;
}
ul
{
    text-decoration: none;
}
.form li
{
    list-style: none;
    margin-block: 10px;
}
.items
{
    margin-top: 60px;
    text-align: center;
}
.form li input
{
    min-width: 30%;
    font-size: large;
    border: rgb(153, 151, 151) 1px solid;
    border-radius: 14px;
    padding-inline: 10px;
    padding-block: 13px;
}
.form h1
{
    color: rgba(58, 55, 55, 0.747);
    margin-bottom: 40px;
}
.form ul li a
{
    margin-top: 100px;
    color: white;
    text-decoration: none;
}
.form ul li a:hover
{
    color: rgb(255, 233, 187);
}
.m-start
{
    padding-top: 20px;
}
.error
{
    color: rgba(92, 20, 20, 0.795);
    font-size: 20px;
}
.d-none
{
    display: none;
}